<beans xmlns="http://www.springframework.org/schema/beans"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/aop
                http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
     <bean id="myBeanPostProcessor" class="com.cuifei.aop.springbeanlife.MyBeanPostProcessor"></bean>
     <bean id="myInstantiationAwareBeanPostProcessor" class="com.cuifei.aop.springbeanlife.MyInstantiationAwareBeanPostProcessor"></bean>


     <bean id="myBeanFactoryPostProcessor" class="com.cuifei.aop.springbeanlife.MyBeanFactoryPostProcessor"></bean>

     <bean id="student" class="com.cuifei.aop.springbeanlife.Student" init-method="init" destroy-method="studentDestroy"></bean>
     <bean id="student1" class="com.cuifei.aop.springbeanlife.Student1" init-method="init" destroy-method="studentDestroy"></bean>
</beans>